<?php
/**
 * Copyright © 2017 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 * @var $block Magmodules\GoogleShopping\Block\Adminhtml\System\Config\Form\Feeds
 */
?>
<?php if ($feedData = $block->getFeedData()) { ?>
    <div class="mm-block-googleshopping-feeds">
        <span class="title">Feeds</span>
        All active feeds are shown in the overview below.<br>The .XML URL is the URL which needs to
        be copied and pasted into you Google Merchant Account. In relation to cache settings in the
        browser, it is advised that you download the Feed to make sure that you are viewing the
        latest version. There is a small note at the end of the XML file where you can find the
        time of generation and the number of products.<br><br><strong>Note:</strong>
        Make sure that you save the configuration after the settings have been changed and before
        you generate the feed.
        <table class="mm-block-googleshopping-feed-table">
            <tbody>
            <?php foreach ($feedData as $data) { ?>
                <tr>
                    <td>
                        <p><?php echo $data['name']; ?></p>
                        <p>
                            <small><?php echo $data['code']; ?></small>
                        </p>
                    </td>
                    <td>
                        <?php if (!empty($data['feed']) && $data['available']) { ?>
                            <p>
                                <a href="<?php echo $data['feed']; ?>" target="_blank">
                                    <?php echo $data['feed']; ?>
                                </a>
                            </p>
                            <p>
                                <small><?php echo $data['result']; ?></small>
                            </p>
                        <?php } else { ?>
                            <p>
                                <?php echo $data['feed']; ?>
                            </p>
                            <p>
                                <small>
                                    <?php echo __('Feed not available, please generate the feed first.') ?>
                                </small>
                            </p>
                        <?php } ?>
                    </td>
                    <td>
                        <?php if (!empty($data['status'])) { ?>
                            <p>
                                <a class="generate"
                                   href="<?php echo $block->getGenerateUrl($data['store_id']); ?>">Generate</a>
                            </p>
                            <p>
                                <a class="preview" href="<?php echo $block->getPreviewUrl($data['store_id']); ?>"
                                   target="_blank">Preview</a>
                            </p>
                            <p>
                                <?php if (!empty($data['full_path']) && $data['available']) { ?>
                                    <a class="download"
                                       href="<?php echo $block->getDownloadUrl($data['store_id']); ?>">Download</a>
                                <?php } ?>
                            </p>
                        <?php } else { ?>
                            <p class="enable">
                                <?php echo __('Feed Generation Disabled.') ?>
                                <small>
                                    <br>
                                    <?php echo __('Enabled the Feed under the Settings above.') ?>
                                </small>
                            </p>
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>