<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<script type="text/x-magento-template" id="tier-prices-template">
    <ul class="prices-tier items">
        <% _.each(tierPrices, function(item, key) { %>
        <%  var priceStr = '<span class="price-container price-tier_price">'
                + '<span data-price-amount="' + priceUtils.formatPrice(item.price, currencyFormat) + '"'
                + ' data-price-type=""' + ' class="price-wrapper ">'
                + '<span class="price">' + priceUtils.formatPrice(item.price, currencyFormat) + '</span>'
                + '</span>'
            + '</span>'; %>
        <li class="item">
            <%= $t('Vanaf %1 stuks %2 per stuk ').replace('%1', item.qty).replace('%2', priceStr) %>
                
                        <%= $t('bespaar') %><span class="percent tier-<%= key %>">&nbsp;<%= item.percentage %></span>%
                
        </li>
        <% }); %>
    </ul>
</script>
<div data-role="tier-price-block"></div>
