<?php $product = $block->getProduct() ?>
<?php if ($product->getTypeId() == 'configurable') { ?>
    <?php $columns = array() ?>
    <?php $pricesForRender = array() ?>
    <?php $children = $product->getTypeInstance()->getUsedProducts($product) ?>
    <?php foreach ($children as $child) { ?>
        <?php $size = $child->getResource()->getAttribute('potmaat')->getFrontend()->getValue($child); ?>
        <?php $size2 = $child->getResource()->getAttribute('wortelgoed')->getFrontend()->getValue($child); ?>
        <?php $prices = $child->getTierPrice() ?>
        <?php foreach ($prices as $priceRow) { ?>
            <?php $columns[(int)$priceRow['price_qty']] = (int)$priceRow['price_qty'] ?>
            <?php if (((string)$size == '') || ((string)$size == 'Nee')) { ?>
                <?php $pricesForRender[$size2][(int)$priceRow['price_qty']] = number_format($priceRow['price'],2,',','.') ?>
            <?php } else { ?>
                <?php $pricesForRender[$size][(int)$priceRow['price_qty']] = number_format($priceRow['price'],2,',','.') ?>
            <?php } ?>
        <?php } ?>
    <?php } ?>
    <?php if (count($pricesForRender) > 0) { ?>
        <h4>Staffelprijs overzicht</h4>
        <table class="all-tier-prices-table">
            <thead>
                <tr>
                    <td>Maat</td>
                    <?php asort($columns) ?>
                    <?php foreach ($columns as $col) { ?>
                        <td class="blw align-center">per <?php echo $col ?></td>
                    <?php } ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($pricesForRender as $colName => $priceRowRender) { ?>
                    <tr>
                        <td><?php echo $colName ?></td>
                        <?php $i = 0; ?>
                        <?php foreach ($columns as $col) { ?>
                            <?php if (isset($priceRowRender[$col])) { ?>
                                <td class="align-center">€ <?php echo $priceRowRender[$col] ?></td>
                            <?php } else { ?>
                                <td></td>
                            <?php } ?>
                            <?php $i++ ?>
                        <?php } ?>
                        <?php $needRenderCol = count($columns) - $i ?>
                        <?php for ($j = 1; $j <= $needRenderCol; $j++) { ?>
                            <td></td>
                        <?php } ?>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    <?php } ?>
<?php } ?>